<!-- navbar -->
<nav class="navbar navbar-light fixed-top bg-light shadow-sm">
  <div class="container-lg">
    <a class="navbar-brand text-danger fw-bold fs-4">miller.code</a>
    <div class="dropdown">
      <button class="btn btn-secondary btn-danger px-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="bi bi-list"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#home">Home</a></li>
        <li><a class="dropdown-item" href="#about">About</a></li>
        <li><a class="dropdown-item" href="#services">Services</a></li>
        <li><a class="dropdown-item" href="#portfolio">Portfolio</a></li>
        <li><a class="dropdown-item" href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

