<section class="portfolio py-5" id="portfolio"></section>
<div class="container-lg py-4">
  <div class="row justify-content-center">
    <div class="portfolio-title text-center">
      <h2 class="fw-bold mb-5">Latest Works</h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="portfolio-item">
          <a href="https://github.com/milleroooo/FitnessFlow"><img src="../../assets/images/app1.png" class="portfolio-mainImage w-100 img-thumbnail"/></a>
          <a class="text-dark" href="https://fitnessflow-71b34.web.app/login"><h3 class="text-center fs-4 my-2">FitnessFlow</h3></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="portfolio-item">
          <a href="https://github.com/milleroooo/Student-Management-System"><img src="../../assets/images/app2.png" class="portfolio-image w-100 img-thumbnail"/></a>
          <h3 class="text-center fs-4 my-2">Student Management System</h3>
        </div>
        <div class="portfolio-item">
          <a href="#home"><img src="../../assets/images/app3.png" class="portfolio-image w-100 img-thumbnail"/></a>
          <h3 class="text-center fs-4 my-2">Portfolio</h3>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 md-6">
        <div class="portfolio-item">
          <a href="https://github.com/milleroooo?tab=repositories"><img src="../../assets/images/app5.png" class="portfolio-image w-100 img-thumbnail"/></a>
          <h3 class="text-center fs-4 my-2">EyeSee</h3>
        </div>
        <div class="portfolio-item">
          <a href="https://github.com/milleroooo/Best-Quotes-App"><img src="../../assets/images/app4.png" class="portfolio-image w-100 img-thumbnail"/></a>
          <h3 class="text-center fs-4 my-2">Best Quotes App</h3>
        </div>
      </div>
    </div>
  </div>
</div>
