<section class="services py-5" id="services">
  <div class="container-lg py-4">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="service-title text-center">
          <h2 class="fw-bold mb-5">What I Do</h2>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-6 col-lg-4">
          <div class="service-item shadow-sm p-4 rounded bg-white">
            <div class="icon my-3 text-danger fs-2">
            <i class="bi bi-code"></i>
          </div>
          <h3 class="fs-5 py-2">Websites</h3>
          <p class="text-muted">Creating functional and visually appealing online platforms through planning, coding, and design.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="service-item shadow-sm p-4 rounded bg-white">
            <div class="icon my-3 text-danger fs-2">
            <i class="bi bi-lightbulb"></i>
          </div>
          <h3 class="fs-5 py-2">Creative Design</h3>
          <p class="text-muted">Crafting stunning graphics and layouts through color theory, typography, and composition.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="service-item shadow-sm p-4 rounded bg-white">
            <div class="icon my-3 text-danger fs-2">
            <i class="bi bi-phone"></i>
          </div>
          <h3 class="fs-5 py-2">Moblie Applications</h3>
          <p class="text-muted">Building optimized mobile applications with Angular and advanced coding techniques.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
