<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="profileImg">
        </div>
      </div>
      <div class="col-sm-7">
        <span class="proffession">Junior Frontend Developer</span>
        <h1 class="mt-3">Mikołaj Miller</h1>
        <p class="description mt-4">I am a 20-year-old programmer technician with many certificates confirming my skills. Specialize in Angular programming. The knowledge I have has already been commercially tested and during my first job as a programmer.</p>
        <a class="readMore" [routerLink]="['/about']" [routerLinkActive]="['is-active']">Read More</a><i class="bi bi-play-fill"></i>
      </div>
    </div>
  </div>
</section>
