<header>
  <div class="header">
    <div class="row">
      <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
        <ul>
          <li>
            <i class="bi bi-list" style="font-size: 25px;"></i>
          </li>
          <li>
            <i class="bi bi-search" style="font-size: 25px;"></i>
          </li>
        </ul>
        <ul>
          <li>
            <a href="" [routerLink]="['/']" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li>
            <a href="" [routerLink]="['/about']" [routerLinkActive]="['is-active']">About</a>
          </li>
          <li>
            <a href="">Portfolio</a>
          </li>
          <li>
            <a href="">cos tam</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
